include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/sectionHeader/sectionHeader.pug
include ../../components/history/history.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('Chat')
  body.white
    +header
    main.main
      +sectionHeader
        .messenger-header.container.container-custom
          h1 заказ №11080
          .messenger-header__buttons
            button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.4225 14.2286C11.3286 14.2286 11.2488 14.2 11.1831 14.1429C11.1174 14.0762 11.0845 13.9905 11.0845 13.8857V7.34286C11.0845 7.24762 11.1174 7.16667 11.1831 7.1C11.2488 7.03333 11.3286 7 11.4225 7H12.5634C12.6667 7 12.7465 7.03333 12.8028 7.1C12.8685 7.16667 12.9014 7.24762 12.9014 7.34286V13.8857C12.9014 13.9905 12.8685 14.0762 12.8028 14.1429C12.7465 14.2 12.6667 14.2286 12.5634 14.2286H11.4225ZM11.338 17C11.2441 17 11.1643 16.9667 11.0986 16.9C11.0329 16.8333 11 16.7524 11 16.6571V15.3286C11 15.2238 11.0329 15.1381 11.0986 15.0714C11.1643 15.0048 11.2441 14.9714 11.338 14.9714H12.6479C12.7512 14.9714 12.8357 15.0048 12.9014 15.0714C12.9671 15.1381 13 15.2238 13 15.3286V16.6571C13 16.7524 12.9671 16.8333 12.9014 16.9C12.8357 16.9667 12.7512 17 12.6479 17H11.338Z" fill="white"/>
              </svg>
              | Открыть споp

            button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5" y="4" width="4" height="16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <rect x="15" y="4" width="4" height="16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | На паузу

            button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 10.5V7C17 6.45 16.55 6 16 6H4C3.45 6 3 6.45 3 7V17C3 17.55 3.45 18 4 18H16C16.55 18 17 17.55 17 17V13.5L21 17.5V6.5L17 10.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Смотреть стрим

      .messenger__body.container.container-custom
        section.messenger.border-clip-2
          .messenger__order-description
            h2 Детали заказа
            .messenger__MMP-progress-content
              .messenger__MMP-progress-status-MMR
                small.title-type  СТАРТОВЫЙ ММР
                img(src="@public/images/order-monitoring-chat/Herald.png" alt="Herald")
                p Herald II 2 500 MMR
              .messenger__MMP-progress-arrow-element
              .messenger__MMP-progress-status-MMR
                small.title-type  ИТОГОВЫЙ ММР
                img(src="@public/images/order-monitoring-chat/Immorta.png" alt="Immorta")
                p Herald II 2 500 MMR

            article.progressbar-container
              .background-line
              .progress-line( value="50" style="width: 50%;")

            .messenger__order-info
              .row-container
                div
                  small.title-type  тип заказа:
                  p Буст рейтинга
                div
                  small.title-type статус:
                  p(style="color: #3E25D8;") Выполняется
              .messenger__order-info-box
                small.title-type Ожидаемое время завершения:
                p
                  span -
                  | 10 октября 2023 г. в 19:48


              .messenger__order-additional-services
                small.title-type Дополнительные услуги:
                ul.messenger__order-additional-services-list
                  li.messenger__order-additional-services-item.messenger__order-additional-services-item--active
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="8" cy="9" r="3" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <path d="M8 14C4.81933 14 2.13414 16.1214 1.28208 19.0264C0.971198 20.0863 1.89543 21 3 21H13C14.1046 21 15.0288 20.0863 14.7179 19.0264C13.8659 16.1214 11.1807 14 8 14Z" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <g opacity="0.7">
                      <circle cx="18" cy="5" r="2" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <path d="M18 9C15.9294 9 14.1528 10.2586 13.3935 12.0525C12.9629 13.0697 13.8954 14 15 14H21C22.1046 14 23.0371 13.0697 22.6065 12.0525C21.8472 10.2586 20.0706 9 18 9Z" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      </g>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 6.64706L21 5L19 19" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M7 5L5 19" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <path d="M12 5L10 19" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <path d="M4 9L14 9" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                      <path d="M3 15H13" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10"/>
                      <path d="M7 7L6 6" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M18 18L17 17" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M12 5V3" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M12 21L12 19" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M18 6L17 7" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M7 17L6 18" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M5 12H3" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M21 12H19" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
                      <path d="M14.5 9.5L12 12V16" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 2L4 5.63636V11.0909C4 16.1364 7.41333 20.8545 12 22C16.5867 20.8545 20 16.1364 20 11.0909V5.63636L12 2Z" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10"/>
                      <path d="M9 12L11 14L17 8" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 9V15H7" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M9 9V15" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11 9L13 15L15 9" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19 15H17V12M17 12V9H19M17 12H19" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <rect x="2" y="5" width="20" height="14" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="9" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10"/>
                      <path d="M7 13.3333L9.49999 16L17 8" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  li.messenger__order-additional-services-item
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="12" cy="12" r="9" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10"/>
                      <path d="M8 8L16 16" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M8 16L16 8" stroke="#3E25D8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>


            .messenger__order-info-user
              .row-container
                img(src="@public/images/template/user-img.png" alt="user").messenger__order-info-user-img
                .messenger__order-info-user-alias
                  h4.messenger__order-info-user-nickname Никнейм
                  p.messenger__order-info-user-FIO ФИО
                img(src="@public/images/order-monitoring-chat/Immorta.png" alt="Immorta").messenger__order-info-rank-img

              .messenger__order-info-user-account
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="9" r="3" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                  <path d="M12 14C10.6065 14 9.30805 14.4072 8.21723 15.1091C4.96615 17.2011 8.13401 21 12 21C15.866 21 19.0339 17.2011 15.7828 15.1091C14.6919 14.4072 13.3935 14 12 14Z" stroke="#3E25D8" stroke-width="2" stroke-linecap="round"/>
                  <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#3E25D8" stroke-width="2" stroke-miterlimit="10"/>
                </svg>

                a(href="")  Профиль

          .messenger__chat-bloc
            .messenger__chat-switching
              .toggler
                label.toggler__item.messenger__toggler-item
                  | Чат с бустером
                  input(
                    checked=""
                    name="currency"
                    type="radio"
                    )
                label.toggler__item.messenger__toggler-item
                  | Чат с администрацией
                  input(
                    name="currency"
                    type="radio"
                    )
            .messenger__chat-content
              .messenger__chat-subject
                small ПОЖЕЛАНИЯ КЛИЕНТА:
                p Выполните
              .messenger__chat-messages
                p.messenger__chat-element.messenger__chat-date
                  | 30 Сентября
                p.messenger__chat-element.messenger__chat-recipient-message(time="13:34")
                  | Сообщение от бустера
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-date
                  | 30 Сентября
                p.messenger__chat-element.messenger__chat-recipient-message(time="13:34")
                  | Сообщение от бустера
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-sender-message(time="13:34")
                  | Сообщение отправителя
                p.messenger__chat-element.messenger__chat-recipient-message(time="13:34")
                  | Сообщение от бустера
                p.messenger__chat-element.messenger__chat-recipient-message(time="13:34")
                  | Сообщение от бустера
                p.messenger__chat-element.messenger__chat-recipient-message(time="13:34")
                  | Сообщение от бустера
              //  добавить class active чтобы включить
              // при этом в чате не должно быть сообщений
              p.messenger__chat-no-messages Чат недоступен пока заказ не принят

            // in-active для отключения
            .messenger__chat-input
              input(type="text" placeholder="Введите ваше сообщение...")
              <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.00857142 16L18 8L0.00857142 0L0 6.22222L12.8571 8L0 9.77778L0.00857142 16Z" fill="#5F5A79"/>
              </svg>

        section.messenger__history
          header.history
            .border-clip-left-top
            .border-clip-right-bottom
            h1.history__title Последние игры на заказе
            +historyList
              +historyItem("DOOM", true, 25, 0, 13, "02:58:10", 25, false)
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M12 4L4 12L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M20 4L12 12L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              +historyItem("DOOM", false, 25, 0, 13, "02:58:10", -25, false)
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M12 4L4 12L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M20 4L12 12L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

      .messenger__alert
        .messenger__alert-container
          button.messenger__alert-close
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 13L13 0.999999" stroke="#5F5A79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M1 1L13 13" stroke="#5F5A79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          h2.messenger__alert-title Понравилось работать с бустером?
          p.messenger__alert-text отблагодарите его, <br> оставив чаевые. <br> 100% суммы получит бустер
          .row-container.messenger__alert-row-container
            .messenger__alert-input-box
              label(for="").messenger__alert-input-title Сумма чаевых
              input(type="text" value="1000").messenger__alert-input
            button.messenger__alert-button Отправить
          smal.messenger__alert-caption Сумма на ваше усмотрение
          img(src="@public/images/order-monitoring-chat/golden-hand.png" alt="alt").messenger__alert-img

  +footer
