mixin review(reviewId, type, author, comment)
  .review__item
    .review__rank
      img(src="../../public/images/rank-1.png", alt="1 ранг")
      .review__rank-info
        p 3 377
        svg(width="35" height="18" viewBox="0 0 35 18" fill="none")
          path(d="M1 9.00002H32.9981M32.9981 9.00002L24.9981 17M32.9981 9.00002L24.9981 1.00004" stroke="#D2D0DD" stroke-width="2" stroke-linecap="round")
        p 13 377
    .review__info
      .review__header
        p.review__info-id= reviewId
        p.review__type
          p
            | Тип:#{" "}
            span= type
        p.review__status
          svg(width="20" height="20" viewBox="0 0 20 20" fill="none")
            g(id="&#208;&#152;&#208;&#186;&#208;&#190;&#208;&#189;&#208;&#186;&#208;&#176;")
              path(id="Vector 91" d="M8 14L12 10L8 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>)
          | Выполнено
      .review__body
        p.review__author= author
        .review__stars
          svg.review__star(width="16" height="15" viewBox="0 0 16 15" fill="none")
            path(d="M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z" fill="white"/)
          svg.review__star(width="16" height="15" viewBox="0 0 16 15" fill="none")
            path(d="M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z" fill="white"/)
          svg.review__star(width="16" height="15" viewBox="0 0 16 15" fill="none")
            path(d="M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z" fill="white"/)
          svg.review__star(width="16" height="15" viewBox="0 0 16 15" fill="none")
            path(d="M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z" fill="white"/)
          svg.review__star.review__star--un-active(width="16" height="15" viewBox="0 0 16 15" fill="none")
            path(d="M8 0L10.3511 4.76393L15.6085 5.52786L11.8042 9.23607L12.7023 14.4721L8 12L3.29772 14.4721L4.19577 9.23607L0.391548 5.52786L5.64886 4.76393L8 0Z" fill="white"/)
      .review__comment= comment
