include ../../components/head/head.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang="ru")
  +head('Blog')
  body
    main.main.container.container-custom
      section.discount
        .discount__content
          ul.discount__list

            li.discount__item.discount__item--inactive
              img(src="../../public/images/loyalty-system/mango.png" alt="mango")
              h2 Mango

              small от #{" "}
                span 5000 #{" "}
                | р
              p
                span 3% #{" "}
                | Скидка

            li.discount__item.discount__item--inactive
              img(src="../../public/images/loyalty-system/soid-stone.png" alt="soid-stone")
              h2 Void Stone

              small от #{" "}
                span 5000 #{" "}
                | р
              p
                span 3% #{" "}
                | Скидка

            li.discount__item.discount__item--active
              img(src="../../public/images/loyalty-system/phase-boots.png" alt="phase-boots")
              h2 Phase Boots

              small от #{" "}
                span 5000 #{" "}
                | р
              p
                span 3% #{" "}
                | Скидка

            li.discount__item
              img(src="../../public/images/loyalty-system/glimmer-gape.png" alt="glimmer-gap")
              h2 Glimmer Cape

              small от #{" "}
                span 5000 #{" "}
                | р
              p
                span 3% #{" "}
                | Скидка

            li.discount__item
              img(src="../../public/images/loyalty-system/silver-edge.png" alt="silver-edge")
              h2 Silver Edge

              small от #{" "}
                span 5000 #{" "}
                | р
              p
                span 3% #{" "}
                | Скидка


          .discount__progress-bar
            .discount__progress-bar-lain-progress(style="width: 50%;")
            .discount__progress-bar-item(style="left: 50%;")
            .discount__progress-bar-lain



        button.discount__button Сделать заказ


  +footer
