mixin range(id='', maxValue='', max='', min, minValue)
  .range(
    id=`${id}`
    data-max=max
    data-max-value=maxValue
    data-min=min
    data-min-value=minValue
    )
    .range__pointers
    .range__line
    .range__inputs
